@model IEnumerable<Generico.Models.vConsultaPersona>

@{
                /**/

                ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<p>
    @Html.ActionLink("Consultar", "ListarSinAjax", "Persona",
    new { @class = "btn btn-primary" })

    @Html.ActionLink("Consultar Ajax", "ListarAjax", "Persona",
    new { @class = "btn btn-success", id = "listarConAjax" })
</p>

<table class="table" id="tabla">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Fecha Nacimiento</th>
            <th>Balance</th>
            <th>Tipo</th>
            <th>Estatus</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var persona in Model)
        {
            <tr>
                <td>@persona.Id</td>
                <td>@persona.Nombres</td>
                <td>@persona.Apellidos</td>
                <td>@Html.FormatValue(persona.Fecha_Nacimiento, "{0:MM/dd/yyy}")</td>
                <td>@Html.FormatValue(persona.Balance, "{0:N2}")</td>
                <td>@persona.Tipo_Descripcion</td>
                <td>@persona.Estatus_Descripcion</td>
                <td>
                    @Html.ActionLink("Editar", "Editar", "Persona", new { id = persona.Id }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Borrar", "Borrar", "Persona", new { id = persona.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        $(function () {
            $("#tabla").DataTable();
            $("#listarConAjax").click(function (event) {
                event.preventDefault();
                var tabla = $("#tabla").DataTable();
                tabla.destroy();
                $.ajax({
                    url: "/Persona/ListarAjax",
                    success: function (resultado) {
                        $("#tabla").DataTable({
                            sort: false,
                            data: resultado.data,
                            columns: [
                                { "data": "Id" },
                                { "data": "Nombres" },
                                { "data": "Apellidos" },
                                {
                                    "data": "Fecha_Nacimiento", "render": function (data, row, type, meta) {
                                        if (data != undefined) {
                                            var milisegundos = parseInt(data.replace("/Date(", "").replace(")/", ""));
                                            return new Date(milisegundos).toLocaleDateString("en-UE");
                                        }
                                        else {
                                            return data;
                                        }
                                    }
                                },
                                { "data": "Balance" },
                                { "data": "Tipo_Descripcion" },
                                { "data": "Estatus_Descripcion" },
                                {
                                    "data": "Id", "render": function (data, row, type, meta) {
                                        return "<a class='btn btn-warning' href='/Persona/Editar/" +
                                            data + "'>Editar</a>" +
                                            " " + "<a class='btn btn-danger' href='/Persona/Borrar/" +
                                            data + "'>Borrar</a>"
                                    }
                                }
                            ]
                        })
                    }
                });
            });
        });
    </script>
}